{% extends 'base.html.twig' %}
{% block title %}Modifier les lieux{% endblock %}
{% block body %}
    <h1 class="mt-3 text-4xl text-center">{{ ville.nom }}</h1>
    <div class="mt-3">
        <table class="table table-pin-rows table-pin-cols w-1/5 mx-auto">
            <thead>
                <tr>
                    <th class="border p-2">Nom du lieu </th>
                    <th class="border p-2">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for lieu in lieux %}
                <tr>
                    <td class="border p-2">{{ lieu }}</td>
                    <td class="border p-2">
                          <a href="{{ path('app_update_lieu',{'id' : lieuId.id}) }}" class="btn btn-outline btn-warning">Modifier</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="flex justify-center mt-8">
            <a href="{{ path('app_manage_lieu')}}" class="py-2 px-4 ml-4 btn btn-info hover:bg-blue-300">Retour</a>
        </div>
    </div>
{% endblock %}