{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<script
        type="text/javascript"
        src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script>

<div class="example-wrapper">
    <h1>Hello ✅</h1>
</div>

<h1 class="text-right">Date du jour : xxx</h1>
<h1 class="text-right">Participant : xxx</h1>
<h1>Filtrer les sorties</h1>
<br>

{#    Coter Droit   #}
<div style="float:left;width:50%;">
    {# Select site #}

    <div class="flex items-center">
        <p class=" inset-y-0 flex items-center">Site : </p>
        <select class="select w-full max-w-xs ml-36">
            <option disabled selected>sélectionner un site</option>
            <option>xxx</option>
            <option>xxx</option>
            <option>xxx</option>
        </select>
    </div>

    {# Recherche #}

    <div class="flex items-center">
        <p class="inset-y-0 flex items-center">Le nom de la sortie contient : </p>
        <input type="text" placeholder="recherche" class="input w-full max-w-xs input-bordered ml-5" />
    </div>

    {# Calendrier #}

    <div class="flex items-center">
        <p class="flex-shrink-0">Entre :</p>
        <div class="relative mb-3 ml-2" data-te-datepicker-init data-te-inline="true" data-te-input-wrapper-init>
            <input type="text" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" placeholder="Select a date" />
            <label for="floatingInput" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Select a date</label>
        </div>
        <p class="flex-shrink-0 ml-2">et</p>
        <div class="relative mb-3 ml-2" data-te-datepicker-init data-te-inline="true" data-te-input-wrapper-init>
            <input type="text" class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" placeholder="Select a date" />
            <label for="floatingInput" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary">Select a date</label>
        </div>
    </div>
</div>
{#    Coter Gauche    #}
<div style="float:left;width:30%;">
    <div class="ml-5">
        <div class="flex items-center">
            <label class="label cursor-pointer">
                <input type="checkbox" class="checkbox" />
                <span class="label-text ml-2">Sorties dont je suis l'organisateur/trice</span>
            </label>
        </div>
        <div class="flex items-center">
            <label class="label cursor-pointer">
                <input type="checkbox" class="checkbox" />
                <span class="label-text ml-2">Sortie auxquelles je suis inscrit/e</span>
            </label>
        </div>
        <div class="flex items-center">
            <label class="label cursor-pointer">
                <input type="checkbox" class="checkbox" />
                <span class="label-text ml-2">Sorties auxquelles je ne suis pas inscrit/e</span>
            </label>
        </div>
        <div class="flex items-center">
            <label class="label cursor-pointer">
                <input type="checkbox" class="checkbox" />
                <span class="label-text ml-2">Sorties passées</span>
            </label>
        </div>
    </div>
</div>
{#    boutton de recherche tout a droit#}
    <div style="float:left;width:20%;">
        <button class="btn">Recherche</button>
    </div>

    <div style="clear: both;"></div>

{#    Tableau#}
    <div class="overflow-x-auto h-96">
        <table class="table table-pin-rows table-pin-cols">
        <thead>
        <tr>
            <th></th>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>inscrits/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        <tr>
            <th>xxx</th>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
        </tr>

        </tbody>
    </table>
</div>
    <br>
{#    Boutton#}
    <button class="btn">Créer une sortie</button>
{% endblock %}
