@tailwind base;
@tailwind components;
@tailwind utilities;


/*.profileForm{*/
/*    width: 70vw;*/
/*    margin: 5vh auto;*/
/*}*/

/*.detailsProfileImg{*/
/*    width: 50%;*/
/*}*/

/*.detailsProfileTxt{*/
/*    width: 50%;*/
/*}*/

/*.profileFormTxt{*/
/*    width: 50%;*/
/*    margin-left: 2vw;*/
/*}*/

/*.detailsActivity{*/
/*    width: 75%;*/
/*    margin: auto;*/
/*    color: white;*/
/*}*/

.alert-success{
    --tw-border-opacity: 1;
    border-color: hsl(var(--su) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--su) / var(--tw-bg-opacity));
}

.alert-danger {
    --tw-border-opacity: 1;
    border-color: red; /* Rouge */
    --tw-bg-opacity: 1;
    background-color: red; /* Rouge */
}

.hidden {
    display: none;
}